@model BookStore.Models.Bill

@{
    ViewBag.Title = "Details";
}


<div>
    <h2>Chi tiết thông tin hóa đơn</h2>
    <table class="table">
        <thead class="table-bordered">
            <tr>
                <th>Hình Ảnh</th>
                <th>Tên Sách</th>
                <th>Giá Tiền</th>
                <th>Số Lượng</th>
                <th>Tổng Tiền</th>
            </tr>
            @foreach (var item in Model.detailsOrders)
            {
                <tr>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.Book.image)" height="200px"  />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.price) @item.Book.unit
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.quantity)
                    </td>
                    <td>@Html.DisplayFor(modelItem=>item.totalPrice)</td>
                </tr>

            }
        </thead>
    </table>
    <dl class="dt-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.FullName)
        </dd>

        <dt>@Html.DisplayNameFor(model => model.Voucher.Price)</dt>
        <dd>@Html.DisplayFor(model=>model.Voucher.Price)</dd>
        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.nameCustomer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameCustomer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deliveryAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deliveryAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.delivered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delivered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deliveryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deliveryForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deliveryForm)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { id = Model.billID})" class="btn btn-success">Sửa</a>
    <a href="/Bills" style="text-decoration: none">Quay trở lại</a>
</p>
