@model PagedList.IPagedList<BookStore.Models.Bill>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2 style="font-weight: 600">Quản lý hóa đơn</h2>

@if (User.IsInRole("Admin"))
{
    <div class="create">
        <a href="@Url.Action("Create")" class="bg-primary btn-lg"><span class="fas fa-plus-circle"></span><span>Tạo mới</span></a>
    </div>
}

@using (Html.BeginForm("Index", "Bills", FormMethod.Get))
{
    <div class="search">
        <span>
            Tên khách hàng:
            <input id="fullname" name="fullname" type="text" value="">
        </span>
        <input id="Submit1" type="submit" value="Tìm kiếm" />

    </div>
}
<table class="table">
    <thead class="table-bordered">
        <tr class="bg-success">
            <th>
                <i class="fas fa-sort"></i>
                @Html.ActionLink("Họ tên", "Index", new { sortOrder = ViewBag.FullnameSortParm })
            </th>
            <th>
                <i class="fas fa-sort"></i>
                @Html.ActionLink("Ngày lập HĐ", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>

            <th>
                <i class="fas fa-sort"></i>
                @Html.ActionLink("Đã giao", "Index", new { sortOrder = ViewBag.DeliveredSortParm })
            </th>
            <th>
                <i class="fas fa-sort"></i>
                @Html.ActionLink("Ngày giao", "Index", new { sortOrder = ViewBag.DeliveryDateSortParm })
            </th>

            <th>
                <i class="fas fa-sort"></i>
                @Html.ActionLink("Địa chỉ nhận", "Index", new { sortOrder = ViewBag.DeliveryAddressSortParm })
            </th>
            <th>
                <i class="fas fa-sort"></i>
                @Html.ActionLink("SĐT", "Index", new { sortOrder = ViewBag.ShipPhoneDateSortParm })
            </th>

            <th>
                <i class="fas fa-sort"></i>
                Giảm Giá
            </th>
            <th>
                <i class="fas fa-sort"></i>
                @Html.ActionLink("Tổng HĐ", "Index", new { sortOrder = ViewBag.PriceSortParm })
            </th>
            <th>
                
            </th>
        </tr>

        @for(int item = 0; item < Model.Count; item++)
        {
            if (User.Identity.Name == Model[item].KhachHang.Email || User.IsInRole("Admin"))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model[item].KhachHang.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[item].date)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => Model[item].delivered)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[item].deliveryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[item].deliveryAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[item].shipPhone)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => Model[item].Voucher.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[item].price)
                    </td>

                    <td class="action">
                        <a href="@Url.Action("Details", new { id = Model[item].billID })" style="color: blue; text-decoration: none">
                            <span class="fas fa-eye"></span>
                        </a>
                    </td>
                </tr>
            }
        }
    </thead>
</table>
<div style="float: right">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) của @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>