@model IEnumerable<BookStore.Models.Voucher>

@{
    ViewBag.Title = "Index";
}

<h2 style="font-weight: 600">Quản lý tác giả</h2>
<p>
    <a href="@Url.Action("Create")" class="bg-primary btn-lg"><span class="fas fa-plus-circle"></span><span>Tạo mới</span></a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
            @Html.Label("", string.Format("{0:N0}", @item.Price), new { style = "font-weight:initial !important;" })
            </td>

            <td class="action">
                <a href="@Url.Action("Edit", new { id = item.VoucherID})" style="color: green; text-decoration: none">
                    <span class="fas fa-edit"></span>
                </a>

                <a href="@Url.Action("Delete", new { id = item.VoucherID })" style="color: red; text-decoration: none">
                    <span class="fas fa-trash"></span>
                </a>
            </td>
        </tr>
    }

</table>
