@model BookStore.Models.DetailsOrder

@{
    ViewBag.Title = "Details";
}


<div>
    <h2 style="font-weight: 600;">Chi tiết thông tin đơn hàng</h2>
    <dl class="dt-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bill.nameCustomer):
        </dt>

        <dd>
           @Model.Bill.nameCustomer
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.title):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalPrice)
        </dd>

    </dl>
</div>
<div class="back mb-3 mt-3">
    <p>
        <a href="@Url.Action("Edit", new { id = Model.index})" class="btn btn-success">Sửa</a>
        @Html.ActionLink("Quay trở lại", "Index")
    </p>
</div>
