@model BookStore.Models.Publisher

@{
    ViewBag.Title = "Details";
}



<div>
    <h2>Chi tiết thông tin nhà xuất bản</h2>
    <dl class="dt-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { id = Model.publisherID})" class="btn btn-success">Sửa</a>
    <a href="/Publishers" style="text-decoration: none">Quay trở lại</a>
</p>
