@model BookStore.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}


@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
<h2 style="font-weight: 600">Thay đổi mật khẩu</h2>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("","Mật Khẩu Cũ", new { @class = "mb-3 mt-3 control-label" })
        <div class="mb-3 mt-3">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("", "Mật Khẩu Mới", new { @class = "mb-3 mt-3 control-label" })
        <div class="mb-3 mt-3">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("", "Nhập Lại Mật Khẩu Mới", new { @class = "mb-3 mt-3 control-label" })
        <div class="mb-3 mt-3">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="mb-3 mt-3">
            <input type="submit" value="Thay Đổi Mật Khẩu" class="btn btn-primary" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}