@model BookStore.Models.Book

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Tạo mới thông tin sách</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label mb-3 mt-3" })
            <div class="mb-3 mt-3">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.unit, htmlAttributes: new { @class = "control-label mb-3 mt-3" })
            <div class="mb-3 mt-3">
                @Html.DropDownListFor(model => model.unit,
                                           new List<SelectListItem>
                                           {
                                              new SelectListItem {Text = "VND"},
                                              new SelectListItem {Text = "USD"},
                                           }, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.unit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label mb-3 mt-3" })
            <div class="mb-3 mt-3">
                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label mb-3 mt-3" })
            <div class="mb-3 mt-3">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "control-label mb-3 mt-3" })
            <div class="mb-3 mt-3">
                @Html.EditorFor(model => model.image, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.image, "", new { @class = "text-danger" })
            </div>
        </div>
      

        <div class="form-group">
            @Html.LabelFor(model => model.sellNumber, htmlAttributes: new { @class = "control-label mb-3 mt-3" })
            <div class="mb-3 mt-3">
                @Html.EditorFor(model => model.sellNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sellNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subjectID, "Chủ Đề", htmlAttributes: new { @class = "control-label mb-3 mt-3" })
            <div class="mb-3 mt-3">
                @Html.DropDownList("subjectID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.subjectID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("", "Nhà Xuất Bản", htmlAttributes: new { @class = "control-label mb-3 mt-3" })
            <div class="mb-3 mt-3">
                @Html.DropDownList("publisherID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.publisherID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="back mb-3 mt-3">
                <input type="submit" value="Tạo mới" class="btn btn-primary" style="margin-right: 10px;" />
                @Html.ActionLink("Quay trở lại", "Index")
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
